In [1]:
#integers
n=1
type(n)

int

In [2]:
#float
p=6.1
type(p)

float

In [3]:
#boolean
b1=True
b2=False
type(b2)

bool

In [4]:
#string
h="nayan"
h

'nayan'

In [5]:
#complex
x=7+8j
type(x)

complex

In [6]:
print(x)

(7+8j)

In [7]:
print(x.imag,x.real)

8.0 7.0

In [8]:
#variables
three=3
four=4
print(three)
four

3

4

In [9]:
#dyanamic
ten=10
print(ten)
ten="sorry"
ten

10

'sorry'

In [10]:
#strong typing
"1"+"student"

'1student'

In [11]:
"Mon"+str('day')

'Monday'

In [12]:
#b00lean evaluation
True and True

True

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
not True

False

In [16]:
not False

True

In [17]:
True is True

True

In [18]:
True is False

False

In [19]:
"a" is "a"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-df006e5ab09a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "a" is "a"

True

In [20]:
#boolean (if/elif/else)
x=10
if x<32:
    print('more than 10')
elif x>15:
    print('less than 15')
else:
    print('it is equal to 10')

more than 10

In [21]:
#List
l=[]
l

[]

In [22]:
l=list()
l

[]

In [23]:
l=[1,2,3,4,5]
print(l)
type(l)

[1, 2, 3, 4, 5]

list

In [24]:
L=["nayan",123]
print(L)
L2=list(L)
print(L)

['nayan', 123]
['nayan', 123]

In [25]:
list("qyugs")

['q', 'y', 'u', 'g', 's']

In [26]:
#append
l=[1,2]
l.append('a')
l.append('c')
l.insert(2,32)
print(l)

[1, 2, 32, 'a', 'c']

In [27]:
#iterating
for sun in l:
    print(sun)

1
2
32
a
c

In [28]:
#for loop
numbers= [1,2,3,4,5,6]
sum= 0
for h in numbers:
    sum= sum+h
print("the sum is",sum)
sum

the sum is 21

21

In [29]:
#forloop with else
number = [2,3,5,8]
for i in number:
    print (i)
else :
    print('no')

2
3
5
8
no

In [30]:
#whileloop
n=int(input('Enter n:'))
sum=0
i=1
while i<n:
    sum=sum+i
    i=i+1
print("The sum is",sum)

Enter n:70
The sum is 2415

In [31]:
#range
print(range(20))

range(0, 20)

In [32]:
print(list(range(0,13)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [33]:
print(list(range(3,60,9)))

[3, 12, 21, 30, 39, 48, 57]

In [34]:
#length
hen=['pop','con','kok','pep']
for h in range(len(hen)):
    print("I call",hen[h])

I call pop
I call con
I call kok
I call pep

In [35]:
#break
for val in "HARSHITHA":
    if val=="I":
        break
    print(val)
print("The end")

H
A
R
S
H
The end

In [36]:
#continue
for val in "NAYANATARA":
    if val=="T":
        continue
    print(val)
print("The start")

N
A
Y
A
N
A
A
R
A
The start

In [37]:
#input string from the user
name=input("What is your name?\n")
type(name)

What is your name?
surya

str

In [38]:
#read int from user
age=int(input("What is your age?\n"))
print("your age is:",age)
type(age)

What is your age?
25
your age is: 25

int

In [39]:
#example
name=input("wts ur name?\n")
print("It was nice talking to you " + name + "!")
age=input("Enter your age?\n")
print("Hey,you are already "+ age +" years old," + name + "!")

wts ur name?
yamini
It was nice talking to you yamini!
Enter your age?
35
Hey,you are already 35 years old,yamini!