In [1]:
#Creating a class
class Person:
    pass

j_e = Person()
j_e.name = "Nayana"
j_e.surname = "Tara"
j_e.birth = 1999


print(j_e)
print("%s %s was born in %d." %
      (j_e.name, j_e.surname, j_e.birth))

<__main__.Person object at 0x000001EBF56F5D90>
Nayana Tara was born in 1999.

In [2]:
#Actual method to creating a class
class Person:
    def __init__(self, name, surname, birth):
        self.name = name
        self.surname = surname
        self.birth = birth

In [3]:
aaa = Person("Jaswanth", "Chowdary", 1999)
print(aaa)
print("%s %s was born in %d"% (aaa.name,aaa.surname,aaa.birth))

<__main__.Person object at 0x000001EBF57145B0>
Jaswanth Chowdary was born in 1999

In [4]:
#METHODS
class Person:
    def __init__(self, name, surname, birth):
        self.name = name
        self.surname = surname
        self.birth = birth
    
    def age(self, current_year):
        return current_year - self.birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.birth)
    
aaa = Person("Jawanth", "Chowdary", 1999)
print(aaa)
print(aaa.age(2020))

Jawanth Chowdary was born in 1999 .
21

In [5]:
#Inheritance
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
bbb = Student(1, 'Tharunya', 'Gowda', 2000)
print(bbb)
print(type(bbb))
print(isinstance(bbb, Person))
print(isinstance(bbb, object))

Tharunya Gowda was born in 2000 .
<class '__main__.Student'>
True
True

In [6]:
#Overriding Methods
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
bbb = Student(1, 'Tharunya', 'Gowda', 2000)
print(bbb)

Tharunya Gowda was born in 2000 . And has ID: 1

In [7]:
#Polymorphism and Ducktyping
def summer(a, k):
    return a + k

print(summer(33, 9))
print(summer(["a", "k", "c"], ["l", "g"]))
print(summer("meow", "meow"))

42
['a', 'k', 'c', 'l', 'g']
meowmeow

In [8]:
#Creating,Writing,Opening,Reading,seek a File

In [9]:
%%writefile clg.txt
Hello, this is a student detalis file

Overwriting clg.txt

In [10]:
my_file = open('clg.txt')

In [11]:
my_file.read()

'Hello, this is a student detalis file\n'

In [12]:
my_file.read()

''

In [13]:
my_file.seek(0)

0

In [14]:
my_file.read()

'Hello, this is a student detalis file\n'

In [15]:
my_file.seek(0)

0

In [16]:
my_file.readlines()

['Hello, this is a student detalis file\n']

In [17]:
my_file = open('clg.txt','w+')

In [18]:
my_file.write('Nayanatara is a final year student')

34

In [19]:
my_file.seek(0)

0

In [20]:
my_file.read()

'Nayanatara is a final year student'

In [21]:
#Iterating through a File

In [22]:
%%writefile kiran.txt
bestie
enemy

Overwriting kiran.txt

In [23]:
for line in open('kiran.txt'):
    print(line)

bestie

enemy

In [24]:
for asdf in open('kiran.txt'):
    print(asdf)

bestie

enemy

In [25]:
##StringIO

In [26]:
from io import StringIO

In [27]:
numbers = '1234567890'

In [28]:
l = StringIO(numbers)

In [29]:
l.read()

'1234567890'

In [30]:
l.write('000000000000')

12

In [31]:
l.seek(0)

0

In [32]:
l.read()

'1234567890000000000000'