In [1]:
#MODULES AND PACKAGES
#import the library
import math

In [2]:
#Ceiling Rounding
math.ceil(7.6)

8

In [3]:
#Built-in Modules
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [5]:
#Errors and Exception Handling
print("airobosoft)

SyntaxError: EOL while scanning string literal (<ipython-input-5-3b4b914c15db>, line 2)

In [6]:
#try and expect
try:
    f = open('kiran','w')
    f.write('How are you doing')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [7]:
try:
    f = open('kiran','r')
    f.write('hi how are you doing')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [8]:
try:
    f = open('kiran','w')
    f.write("I'm doing good")
except:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [9]:
try:
   f = open("kiran", "w")
   f.write("la la la laaaaa")
finally:
   print("I'm done")

I'm done

In [10]:
def nayana():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [11]:
nayana()

Please enter an integer: 56
Finally, I executed!
56

In [12]:
#ERROR
nayana()

Please enter an integer: ju
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: local variable 'val' referenced before assignment

In [13]:
def nayana():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Please enter the correct value: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [14]:
nayana()

Please enter an integer: jkhj
Looks like you did not enter an integer!
Please enter the correct value: 999
Finally, I executed!
999

In [15]:
def nayana():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Greate Job!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [16]:
nayana()

Please enter an integer: o9
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 999
Greate Job!
Finally, I executed!

In [17]:
#Database connectivity and operations using Python
#!/usr/bin/python

import sqlite3
db = sqlite3.connect("student.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(id int, name text, score int)")
db.execute("insert into grades1(id, name, score) values(111, 'tharu',79)")
db.execute("insert into grades1(id, name, score) values(222, 'jenni',99)")
db.execute("insert into grades1(id, name, score) values(333, 'mahaa',85)")
db.execute("insert into grades1(id, name, score) values(444, 'tejuu',90)")
db.execute("insert into grades1(id, name, score) values(555, 'piggy',60)")

In [18]:
db.commit()

In [19]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 19 )

(111, 'tharu', 79)
(222, 'jenni', 99)
(333, 'mahaa', 85)
(444, 'tejuu', 90)
(555, 'piggy', 60)
-------------------

In [20]:
results = db.execute("select * from grades1 where name = 'mahaa' ")
for row in results:
    print(row)
print("-" * 19 )

(333, 'mahaa', 85)
-------------------

In [21]:
results = db.execute("select * from grades1 where score >= 80 ")
for row in results:
    print(row)
print("-" * 19 )

(222, 'jenni', 99)
(333, 'mahaa', 85)
(444, 'tejuu', 90)
-------------------

In [22]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 14 )

('jenni', 99)
('tejuu', 90)
('mahaa', 85)
('tharu', 79)
('piggy', 60)
--------------

In [23]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 14 )

('piggy', 60)
('tharu', 79)
('mahaa', 85)
('tejuu', 90)
('jenni', 99)
--------------

In [24]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('piggy', 60)
('tharu', 79)
('mahaa', 85)
('tejuu', 90)
('jenni', 99)